

body{
	background: #2b423a;
}

h3{
	color: #d1d1d1;
}

#largeHeader{
	background: #fff6e2;
	border: 2px groove #000000;
    color: #000000;
    padding: 5px;

	font-size: 20px;

/*    width: 620px;


	position: fixed;
	top: 10px;
	left: 15%;*/
}
/*
#header{
	font-size: 18px;
	color: #d1d1d1;

	position: relative;
	top: -28px;
}*/

.CentralPositioning{
	position: relative;
    /*left: 15%;*/
    top: 50px;
    /*temp while trying to stop overlap*/
    /*position: relative;
    top: 70px;*/

}

.CentralTextBox{
	background: #fff6e2;

	border: 2px groove #000000;
    color: #000000;
    padding: 5px;
    top-margin: 26px;

    display: block;

}

#instructions{

}

#Questions{
}

.AnswerBox{
	width: 580px;
	height: 80px;
	border: 3px solid #cccccc;
	padding: 5px;
	resize: vertical;
}

.rightSide{

	/*display: inline-block;*/
/*
	position: relative;
	top: 60px;*/
}

.rightSideBox{
	background: #ffffff;

	border: 2px groove #000000;
    color: #000000;
    padding: 5px;

    display: block;

    position: relative;
    top: 80px;
}

#videoFeed{
    width: 350px;
    height: 380px;

    position: relative;
    top: 80px;
/*
    position: fixed;
    top: 50px;
    left: 65%;*/
}

#inputs{
	width: 400px;
}





